body {
    background-color: #CCCCCC;
    font-family:'Lucida Sans Unicode';
}

input {
    width: 75%;
    height: 23px;
    padding: 6px;
    margin: 12px;
    border-radius: 5px;
    border: 0;
    font-size: 1rem;
}

input:focus{
    outline: none;
}

button {
    width: 58%;
    height: 47px;
    margin: 7px;
    font-size: 1rem;
    background-color: #1D0C20;
    color: #ffffff;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: #250E29;
}

footer {
    color: #FDF9F5;
    font-size: 0.7rem;
    font-weight: lighter;
    margin: 0.5rem;
}

object {
    width: 125px;
}

span {
    font-weight: 600;
}

.container {
    background: rgb(30,12,33);
    background: linear-gradient(180deg, rgba(30,12,33,1) 0%, rgba(61,20,68,1) 50%, rgba(100,31,112,1) 100%);
    margin: auto;

    width: 710px;
    text-align: center;

    border-radius: 8px;
    overflow: hidden;
}

.title {
    color: #FECD23;
    font-size: 1.8rem;
    font-weight: 700;
    margin: 15px 0px 0px;
    font-family:'Lucida Sans Unicode';
}

.text {
    color: #FDF9F5;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.subtitle {
    font-size: 0.9rem;
    color: #D6E4E9;
    padding: 0.5rem;
    margin: 0px 28px 15px;
    line-height: 1.1rem;
}

.flex-container {
    background: rgb(30,12,33);
    background: linear-gradient(0deg, rgba(30,12,33,1) 0%, rgba(61,20,68,1) 50%, rgba(100,31,112,1) 100%);
    margin: auto;

    width: 625px;
    padding: 1rem;
    
    border-radius: 8px;
}   

.flex-boxes {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

.int-box {
    background: rgb(61,94,238);
    background: linear-gradient(180deg, rgba(61,94,238,1) 50%, rgba(114,205,254,1) 100%);
    width: 165px;
    margin: auto;
}

.box {
    background: rgb(38,55,219);
    background: linear-gradient(180deg, rgba(38,55,219,1) 50%, rgba(51,41,136,1) 100%);
    width: 178px;
    padding: 13px 2px 9px 2px;
    border-radius: 8px;
}

.text-box {
    padding-top: 1.2rem;
    color: #FFFFF7;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.image-group {
    transform: scaleX(-1);
}

@media screen and (max-width: 620px) {
    
}